.want-list {
    list-style: none;
}
.want-list__item {
    margin: var(--space-2) 0;
}
.want-list__title {
    padding: 0 var(--space-2);
}
.want-list__time {
    font-size: var(--font-0);
    color: var(--color-gray-2);
}
.want-list__description {}

.active {
    background-color: red;
}
.resistor-value-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.capacitor-code-calculator {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: end;
    justify-items: stretch;
}

.capacitor-code-calculator__button {
    appearance: none;
    border: none;
    background-color: var(--color-primary);
    padding: var(--space-0);
    cursor: pointer;
}
.capacitor-code-calculator__button--active {
    background-color: var(--color-secondary);
}
/* LABEL BUTTON */
.button {
    border: none;
    background-color: var(--color-primary);
    padding: var(--space-1);
    border-radius: 3px;
    font-family: inherit;
}

/* LABEL INPUT */
.label-input {
    display: inline-flex;
    background-color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
}

.label-input:has(.label-input__input:focus) {
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, .3);
}

.label-input__label {
    padding: 0 var(--space-1);
}
.label-input__input {
    border: none;
    padding: 0 var(--space-1);
}
.label-input__input:focus{
    outline: none;
}

.label-output {
    display: inline-flex;
    background-color: var(--color-secondary);
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
}

.label-output__label {
    padding: 0 var(--space-1);
}
.label-output__input {
    border: none;
    padding: 0 var(--space-1);
}



/* LABEL SELECT */
.label-select {
    display: inline-flex;
    background-color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
}

.label-select__label {
    padding: 0 var(--space-1);
}
.label-select__input {
    border: none;
    padding: 0 var(--space-1);
}

.voltage-divider {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-1);
}

.voltage-divider__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.voltage-divider__content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.voltage-divider__aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}
.voltage-divider__footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.voltage-divider__form-row {
    margin: var(--space-1) 0;
}

.voltage-divider__footer {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-1);
}
.voltage-ratio {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.voltage-ratio__aside {}
.voltage-ratio__content {}
.voltage-ratio__table {
    width: 100%;
    border-collapse: collapse;
    padding: var(--space-1);
}

.voltage-ratio__table td {
    padding: 0.5rem 1.5rem;
}
.voltage-ratio__table-head {
    background-color: black;
    color: antiquewhite;
    position: sticky;
    top: -6px;
}
.voltage-ratio__table-head td {
    background-color: var(--color-text);
    color: var(--color-white);
    
}
.voltage-ratio__table-body {}
.voltage-ratio__table-body tr {
    border-bottom: 1px solid var(--color-primary);
}
.non-inverting-op-amp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-1);
}

.non-inverting-op-amp__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.non-inverting-op-amp__content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.non-inverting-op-amp__aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}
.non-inverting-op-amp__footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.non-inverting-op-amp__form-row {
    margin: var(--space-1) 0;
}

.non-inverting-op-amp__footer {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-1);
}
.inverting-op-amp {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-1);
}

.inverting-op-amp__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.inverting-op-amp__content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.inverting-op-amp__aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
}
.inverting-op-amp__footer {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.inverting-op-amp__form-row {
    margin: var(--space-1) 0;
}

.inverting-op-amp__footer {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-1);
}
html, body {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Spartan', sans-serif;
    line-height: 1.5;
    margin: 0;
    color: var(--color-text);
}

:root {
    --color-red-1: #EF9A9A;
    --color-pink-1: #F48FB1;
    --color-purple-1: #CE93D8;
    --color-purple-2: #B39DDB;
    --color-indigo-1: #9FA8DA;
    --color-blue-1: #90CAF9;
    --color-blue-2: #81D4FA;
    --color-cyan-1: #80DEEA;
    --color-green-1: #80CBC4;
    --color-green-2: #A5D6A7;
    --color-green-3: #C5E1A5;
    --color-lime-1: #E6EE9C;
    --color-yellow-1: #FFF59D;
    --color-orange-1: #FFE082;
    --color-orange-2: #FFCC80;
    --color-orange-3: #FFAB91;
    --color-brown-1: #BCAAA4;
    --color-gray-1: #CFD8DC;
    --color-gray-2: #607D8B;
    --color-gray-3: #263238;

    --color-white: white;
    --color-primary: #dde7ea;
    --color-secondary: orange;
    --color-text: rgb(30, 30, 30);

    --size-max-width: 100%;
    --space-0: 0.667rem;
    --space-1: 0.66rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 1.5rem;
    --space-5: 5.063rem;
    --font-0: 0.667rem;
    --font-1: 1rem;
    --font-2: 1.5rem;
}


/* - - - - - - - - - - - - - - - - - - - - - */

body {
    padding: 2rem;
}
