.capacitor-code-calculator {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: end;
    justify-items: stretch;
}

.capacitor-code-calculator__button {
    appearance: none;
    border: none;
    background-color: var(--color-primary);
    padding: var(--space-0);
    cursor: pointer;
    font-size: inherit;
}
.capacitor-code-calculator__button--active {
    background-color: var(--color-secondary);
}