.resistor-value-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: calc(var(--space-4)* 4);
    row-gap: var(--space-1);
}


.resistor-value-list__item {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.resistor-value-list__label {
    flex-grow: 1;
}