.time-constant {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

.time-constant__header {}
.time-constant__title {
    margin: 0;
}
.time-constant__input {}
.time-constant__equation {
    text-align: center;
    font-size: var(--font-2);
}
.time-constant__description {}
.time-constant__summary {
    cursor: pointer;
}
