.voltage-divider {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-4);
    margin-block: var(--space-4);
}

.voltage-divider__header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.voltage-divider__title {
    margin: 0;
}
.voltage-divider__formula {
    grid-column: 1 / span 1;

    font-size: var(--font-2);
}
.voltage-divider__schematic {
    grid-column: 1 / span 1;
}
.voltage-divider__input {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}


.voltage-divider__footer {
    display: flex;
    justify-content: flex-start;
    gap: var(--space-1);
}
