
.want-list-details__title {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.want-list-details__time {
    font-size: var(--font-0);
    color: var(--color-gray-2);
}

/* .want-list-details__details {} */
.want-list-details__summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-2);
    cursor: pointer;
}

.want-list-details__description {
    padding: var(--space-2);
    margin: var(--space-2) 0;
    background-color: var(--color-primary-100);
    border-radius: var(--border-radius);
}


.want-list-details__footer {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
    justify-content: flex-end;
}
