.want-list {
    list-style: none;
}
.want-list__item {
    margin: var(--space-2) 0;
}
.want-list__title {
    padding: 0 var(--space-2);
}
.want-list__time {
    font-size: var(--font-0);
    color: var(--color-gray-2);
}
.want-list__description {}