/* LABEL BUTTON */
.button {
    border: none;
    background-color: var(--color-primary);
    padding: var(--space-1);
    border-radius: 3px;
    font-family: inherit;
    cursor: pointer;
}

/* LABEL INPUT */
.label-input {
    display: inline-flex;
    background-color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
}

.label-input:has(.label-input__input:focus) {
    box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, .3);
}

.label-input__label {
    padding: 0 var(--space-1);
}
.label-input__input {
    border: none;
    padding: 0 var(--space-1);
}
.label-input__input:focus{
    outline: none;
}

.label-output {
    display: inline-flex;
    background-color: var(--color-secondary);
    border-radius: 3px;
    border: 1px solid var(--color-secondary);
}

.label-output__label {
    padding: 0 var(--space-1);
}
.label-output__input {
    border: none;
    padding: 0 var(--space-1);
}



/* LABEL SELECT */
.label-select {
    display: inline-flex;
    background-color: var(--color-primary);
    border-radius: 3px;
    border: 1px solid var(--color-primary);
}

.label-select__label {
    padding: 0 var(--space-1);
}
.label-select__input {
    border: none;
    padding: 0 var(--space-1);
}



.toggle {
    display: inline-block;    
}
.toggle__input {
    appearance: none;
    position: relative;
    display: inline-block;
    background-color: var(--color-primary);
    height: var(--space-4);
    width: calc(var(--space-4) * 2);
    vertical-align: middle;
    border-radius: var(--space-2);
    cursor: pointer;
}
.toggle__input:checked {
    background-color: var(--color-secondary);
}
.toggle__input::before {
    content: '';
    display: block;
    border-radius: 50%;
    background-color: var(--color-white);
    position: absolute;
    top: calc(var(--space-0) / 2);
    left: calc(var(--space-0) / 2);
    height: calc(var(--space-4) - var(--space-0));
    width: calc(var(--space-4) - var(--space-0));
}
.toggle__input:checked::before {
    right: calc(var(--space-0) / 2);
    left: unset;
}



