.inverting-op-amp__formula {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    font-size: var(--font-2);
    text-align: center;
}
.inverting-op-amp__input {
    grid-column: 2 / span 1;
    grid-row: 1 / span 3;
}
.inverting-op-amp__description {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    columns: 3;
}
.inverting-op-amp__schema {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}
.inverting-op-amp__footer {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
}
