.inverting-summing-op-amp__schematic {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.inverting-summing-op-amp__content {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
}

.inverting-summing-op-amp__input {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.inverting-summing-op-amp__definition-list {
    margin-block: var(--space-4);
}
.inverting-summing-op-amp__definition {
    font-weight: 700;
    margin-block-start: var(--space-2);
}
.inverting-summing-op-amp__description {
    margin-block-start: var(--space-1);
}
