.calculator-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: var(--space-4);
    margin-block: var(--space-4);
}

.calculator-template__header{
    grid-column: 1 / span 1;
}

.calculator-template__title {
    margin: 0;
}
