.capacitors-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--space-4);
}
.capacitors-page__header {
    grid-column: 1 / span 2;
}

.capacitors-page__title {
    margin: 0;
}

.capacitors-page__tab-link {
    display: flex;
    gap: var(--space-1);
    svg {
        height: var(--space-3);
        width: auto;
    }
}

.capacitors-page__value-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-2) var(--space-4);
    padding: 0;
}

.capacitors-page__value-format {
    display: flex;
    flex-direction: column;

    small {
        margin-top: var(--space-0);
        font-size: var(--font-0);
    }
}

.capacitors-page__footer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.4);
    right: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}
