.iclm358-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-2);
}
.iclm358-page__header {
    grid-column: 1 / span 2;
}
.iclm358-page__content {
    grid-column: 1 / span 1;
}
.iclm358-page__aside {
    grid-column: 2 / span 1;
}
