.resistors-page {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.resistors-page__header {
    grid-column: 1 / span 2;
}

.resistors-page__section {}

.resistor-page__footer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.4);
    right: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.resistors-page__items-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-2);
}
