

.app__header {
    grid-row: 1 / span 1;
    background-color: var(--color-primary, lightblue);
    padding: var(--space-2);
    text-align: center;
}

.app__navigation {
    grid-row: 2 / span 1;
    background-color: var(--color-primary, lightblue);
}
.app__content {
    grid-row: 1 / span 2;
    overflow: auto;
    padding: 0 var(--space-3);
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: calc(var(--space-2) * 2);
}

.main-nav__link{
    text-decoration: none;
    color: currentColor;
}
.main-nav__link--active{
    text-decoration: underline;
}

